* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan-color: #2acfcf;
  --dark-violet-color: #3b3054;
  --gray-color: #bfbfbf;
  --gray-violet-color: #9e9aa7;
  --very-dark-blue-color: #35323e;
  --very-dark-violet-color: #232127;
  --red-color: #f46262;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  transition: filter 0.3s;
}
